@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "注册";
}

<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h4 class="text-primary mb-4 text-center">@ViewBag.Title</h4>
    <div id="external-login-title">关联@(Model.ProviderDisplayName)账户。</div>
    <hr />
    <p id="external-login-description" class="text-info">
        你已经通过<strong>@Model.ProviderDisplayName</strong>成功验证，请输入以先信息完成注册。
    </p>
    <div class="form-label-group">
        <input asp-for="Input.LoginName" class="form-control" placeholder="登录名称"/>
        <label>登录名称</label>
        <span asp-validation-for="Input.LoginName" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <input asp-for="Input.UserName" class="form-control" placeholder="用户名称"/>
        <label>用户名称</label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <input asp-for="Input.Email" class="form-control" placeholder="邮件地址"/>
        <label>邮件地址</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">注册</button>
</form>