@page "/login-2fa"
@model LoginWith2faModel
@{
    ViewData["Title"] = "二次验证";
    Layout = "_Modal";
}

<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <input asp-for="RememberMe" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-label-group">
        <input asp-for="Input.TwoFactorCode" class="form-control" placeholder="验证码" autocomplete="off" />
        <label asp-for="Input.TwoFactorCode"></label>
        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <gt:checkbox asp-for="Input.RememberMachine" class="mb-3">记住这个设备信息</gt:checkbox>
    </div>
    <p>你的登录需要进行二次验证，请输入二次验证码进行验证。</p>
    <p>
        不能登录访问设备，你可以通过复原编码进行登录，
        <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">点击这里登录</a>。
    </p>
</form>