@page
@model LogModel
@{
    ViewData["Title"] = "活动日志";
    ViewData["Current"] = AccountMenu.Log;
}

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="gt-datetime">时间</th>
                <th>日志信息</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model.Items)
            {
                <tr>
                    <td class="gt-datetime">@message.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>[@Model.GetEventType(message.EventId)] @Html.Raw(message.Message)</td>
                </tr>
            }
            <gt:warning-tabled colspan="2" class="text-secondary" attach="Model.Items">没有查询到相关日志！</gt:warning-tabled>
        </tbody>
    </table>
    <gt:page class="page-center d-print-none mb-2" data="Model.Items"></gt:page>
</div>