@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul id="data">
</ul>

<input class="form-control border-secondary" id="value" />
<button class="btn btn-secondary" onclick="send();">发送</button>

@section footer
{
    <script type="text/javascript">
        var scheme = document.location.protocol === "https:" ? "wss" : "ws";
        var port = document.location.port ? (":" + document.location.port) : "";

        var url = scheme + "://" + document.location.hostname + port + "/?sid=11";
        var socket = new WebSocket(url);
        socket.onopen = function (e) {
            socket.send("hello:Gentings!");
        };
        socket.onmessage = function (e) {
            var data = e.data;
            var name;
            var index = data.indexOf(':');
            if (index === -1) {
                name = data;
                data = null;
            }
            else {
                name = data.substring(0, index);
                data = data.substr(index + 1);
            }
            $('#data').append($('<li/>').html(`[${name}]: ${data}`));
        };
        socket.onclose = function (e) {
        };
        socket.onerror = function (e) {
            alert(JSON.stringify(e));
        }

        function send() {
            var value = $('#value').val();
            if (value && socket.readyState === WebSocket.OPEN) {
                socket.send('hello:' + value);
            } else {
                console.log('发送：' + value + ' 失败： ' + socket.readyState);
            }
        }
    </script>
}