@page
@model SettingsModel
@{
    ViewBag.Title = "系统配置";
    ViewBag.Current = "sys.settings";
    ViewData.AddLibraries(ImportLibrary.CodeMirror);
}

<form method="post" class="tab-content">
    <div class="tab-pane fade show active" id="basic">
        <div class="form-group">
            <label>网站名称</label>
            <input type="text" asp-for="Input.SiteName" class="form-control max50" />
            <span asp-validation-for="Input.SiteName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>简称</label>
            <input type="text" asp-for="Input.ShortName" class="form-control max50" />
        </div>
        <div class="form-group">
            <label>LOGO图标</label>
            <div class="input-group max50">
                <input readonly="readonly" type="text" asp-for="Input.LogoUrl" class="form-control uploaded" />
                <div class="input-group-append" js-upload="@Url.Page("./Settings", "Upload")">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-upload"></i></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>描述</label>
            <textarea asp-for="Input.Description" rows="3" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>
                版权信息
                <small class="text-secondary">
                    ($year：当前年份@(DateTime.Now.Year)；$version: 版本@(Model.Version.ToString(3)))
                </small>
            </label>
            <textarea asp-for="Input.Copyright" rows="5" class="form-control"></textarea>
        </div>
    </div>
    <div class="tab-pane fade" id="others">
        <div class="form-group">
            <label>后台管理导航</label>
            <gt:checkbox asp-for="Input.IsTopMenu">顶端显示</gt:checkbox>
        </div>
        <div class="form-group">
            <label>头部代码</label>
            <textarea asp-for="Input.Header" rows="8" class="border CodeMirror"></textarea>
        </div>
        <div class="form-group">
            <label>尾部代码</label>
            <textarea asp-for="Input.Footer" rows="8" class="border CodeMirror"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-secondary">提交</button>
    </div>
</form>

@section summary
{
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#basic">基础信息</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#others">其他选项</a></li>
    </ul>
}
