@page "/forgot"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘记密码";
}

<form method="post">
    <h4 class="text-primary mb-4 text-center">@ViewBag.Title</h4>
    <div class="form-label-group">
        <input asp-for="Input.Email" class="form-control" placeholder="邮件地址" />
        <label>邮件地址</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-label-group" .visible="@Model.Settings.ValidCode">
        <div class="input-group input-group-append">
            <input asp-for="Input.Code" class="form-control" placeholder="验证码" />
            <label>验证码</label>
            <div class="input-group-append validcode"><gt:verifier key="register" size="16" height="36" length="6"></gt:verifier></div>
        </div>
        <span asp-validation-for="Input.Code" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">提交</button>
</form>