@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "重置密码";
}

<form method="post">
    <h4 class="text-primary mb-4 text-center">@ViewBag.Title</h4>
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-label-group">
        <input asp-for="Input.UserName" class="form-control" placeholder="用户名"/>
        <label asp-for="Input.UserName"></label>
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <input asp-for="Input.Password" class="form-control" placeholder="密码"/>
        <label asp-for="Input.Password"></label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="确认密码" />
        <label asp-for="Input.ConfirmPassword"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">重置密码</button>
</form>